/*
    Shorthands
        grid: (sin soporte total) 
            https://developer.mozilla.org/es/docs/Web/CSS/grid
        grid-template: 
            Engloba grid-template-columns, grid-template-rows y grid-template-areas
        grid-gap:
            Engloba grid-column-gap y grid-row-gap
        grid-column: 
            Engloba grid-column-start y grid-column-end
        grid-row:
             Engloba grid-row-start y grid-row-end
*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    color: #eee;
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template: 100px 200px 150px / 300px 250px 150px
    /*grid-template: 
         "first first first" 100px
        "center center center" 200px
        "last . ." 150px /
        300px 250px
        ; */
        /* grid:
            "first first first" 100px
            "center center center" 200px
            "last . ." 150px /
            300px 250px; */
}

.grid-item {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    color:#000;
}

.grid-item:first-child,
.grid-item:nth-child(4),
.grid-item:nth-child(7){
    background-color: limegreen;
}