body {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr 100px;
    margin: 0;
    color: #eee;
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
}

.grid-item{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
}

.header{
    grid-column: 1 / -1;
}

.aside{
    grid-column: span 1;
    grid-row: 2 / -1;
    background-color: limegreen;
}

.footer{
    background-color: peru;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    grid-gap: 5px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    grid-auto-flow: dense;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:nth-child(3){
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
}

.gallery img:nth-child(4){
    grid-column: 1 / 3;
}

.gallery img:nth-child(5){
    grid-row: 1;
    grid-column: 1 / 2;
}

.gallery img:nth-child(6){
    grid-column: span 2;
}

.gallery img:nth-child(8){
    grid-row: span 2;
}

.gallery img:last-child{
    grid-row: span 2;
}

